 @font-face {
     font-family: sukhumvitset-text;
     src: url('../fonts/sukhumvitset-text-webfont.woff') format('woff'), url('../fonts/sukhumvitset-text-webfont.woff') format('woff');
     font-family: Poppins;
     src: url('../fonts/sukhumvitset-text-webfont.woff2') format('woff2'), url('../fonts/sukhumvitset-text-webfont.woff') format('woff');
 }