 @font-face {
     font-family: sukhumvitset-text;
     src: url('../fonts/sukhumvitset-text-webfont.woff2') format('woff2'), url('../fonts/sukhumvitset-text-webfont.woff') format('woff');
     font-family: Poppins;
     src: url('../fonts/sukhumvitset-text-webfont.woff2') format('woff2'), url('../fonts/sukhumvitset-text-webfont.woff') format('woff');
 }
 
 body {
     font-family: sukhumvitset-text;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: sukhumvitset-text;
 }
 
 b {
     font-family: sukhumvitset-text;
 }